Automate Email reply.json
{
  "name": "Automate Email reply",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "labelIds": [
            "INBOX"
          ],
          "sender": "=visitshannu@gmail.com"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -144,
        -16
      ],
      "id": "ad5e6ecd-a3d9-46e2-b842-fa2abeed37a9",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "Rgx3Bbo6N2H3jmEk",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You have received an email. Please write a warm, friendly reply.\n\nFrom: {{ $('Gmail Trigger').first().json[\"headers\"][\"from\"] }}\nSubject: {{ $('Gmail Trigger').first().json[\"subject\"] }}\nEmail Body: {{ $('Gmail Trigger').first().json[\"text\"] }}\nDetected Tone: {{ $('Detect Sentiment').first().json[\"text\"] }}\n\nTONE MATCHING RULES:\n- If tone is FORMAL → reply professionally, use proper greetings\n- If tone is CASUAL → reply conversationally, keep it light\n- If tone is URGENT → acknowledge urgency, reply promptly and concisely\n- If tone is ANGRY → reply calmly, empathetically, don't match anger\n- If tone is SAD → reply with warmth and compassion\n- If tone is FRIENDLY → be warm, personal and engaging\n\nGUARDRAILS:\n- Keep reply under 100 words unless email is complex\n- Sign off as Shanmukh\n- If email mentions money, investment, stocks or gambling then \n  dont take decision,\n- Never share personal data or passwords\n\nReturn only the email reply. No explanations.",
        "options": {
          "systemMessage": "You are a personal email assistant. \nReply only to the email content provided. \nBe warm, concise and human. Never ask for Gmail access."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        624,
        -48
      ],
      "id": "4628ec28-7171-451d-a223-ba29a5f2a00b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        256,
        192
      ],
      "id": "2ae76d51-cc15-44dd-9758-36bbcdd563bc",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "bgy5RJAciE9Bt2R9",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2b2fba7f-db3c-47e7-a83a-730b6822079f",
              "leftValue": "={{ $json.labelIds[2] }}",
              "rightValue": "=CATEGORY_PERSONAL",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        32,
        -16
      ],
      "id": "eec1cda9-b1c7-4a03-920e-34382a304d2c",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        992,
        -16
      ],
      "id": "81fc631b-fbe0-46ce-af9d-2d76eb25ea8a",
      "name": "Reply to a message",
      "webhookId": "861b59ce-4b1e-421d-8b75-ca8f7870b176",
      "credentials": {
        "gmailOAuth2": {
          "id": "Rgx3Bbo6N2H3jmEk",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the tone of this email and respond with ONE word only:\nFORMAL, CASUAL, URGENT, ANGRY, SAD, or FRIENDLY\n\nEmail: {{ $('Gmail Trigger').first().json[\"text\"] }}\n\nRespond with one word only. No explanation.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        256,
        -96
      ],
      "id": "3ea1daad-fbcb-4982-b3ae-0a18e795a636",
      "name": "Detect Sentiment"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Detect Sentiment",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Detect Sentiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Sentiment": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0ae2affe-98a1-4934-9929-65851e2a17a1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5bafd3d1d1cc3bac23ee70cd912ff79c4ba37d8a32f0ea92755bdba53081fcbf"
  },
  "id": "flxqe1Wce6QfdyiVwIHZ2",
  "tags": []
}
